<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/styles/about.css">
    <title>Rent Car</title>
</head>
<body>
    <div class="background-color"></div>
    <div class="background-image"></div>

    <header>
		<div class="container">
			<nav>
				<div class="site-logo">
                    <h1>RENT CAR</h1>
				</div>
				<div class="navigation">
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="#">About</a></li>
						<li><a href="#">Services</a></li>
						<li><a href="#">Cars</a></li>
						<li><a href="#">Pages</a></li>
						<li><a href="#">News</a></li>
						<li><a href="#">Contact</a></li>
						<li><a href="#">|</a><img src="./public/images/shopping_cart.svg" alt=""></li>
					</ul>
                    <div class="help">
                        <div class="help-icon">
                            <img src="./public/images/telephone.svg" alt="telephone">
                        </div>
                        <div class="help-number">
                            <p>Need help?</p>
                            <h3>77 040 04 40</h3>
                        </div>
                    </div>
				</div>
			</nav>
		</div>
	</header>

    <main>
        <section class="hero">
            <div class="container">
                <div class="hero-inner">
                  <div class="hero-title">
                    <h3>* PREMIUM</h3>
                    <h1>About Us</h1>
                  </div>
                </div>
              </div>
        </section>

        <section class="about">
            <div class="about-inner">
                <div class="about-title">
                    <span>RENTAX</span>
                    <div class="about-sozi">
                        <h1>We Are More Than</h1>
                        <h3>A Car Rental Company</h3>
                    </div>
                    <p>Car repair quisque sodales dui ut varius vestibulum drana tortor turpis porttiton tellus eu euismod nisl massa nutodio in the miss volume place urna lacinia eros nunta urna mauris vehicula rutrum in the miss on volume interdum.</p>
                    <div class="luxury-cars">
                        <img src="./public/images/done.svg" alt="">
                        <p>Sports and Luxury Cars</p>
                    </div>
                    <div class="luxury-cars">
                        <img src="./public/images/done.svg" alt="">
                        <p>Economy Cars</p>
                    </div>
                </div>
                <div class="about-img">
                    <img src="https://webredox.net/demo/wp/renax/wp-content/uploads/2024/04/about.jpg" alt="">
                </div>
                <div class="about-video">
                    <div class="about-video-inner">
                        <img src="./public/images/pause.svg" alt="">
                    </div>
                </div>
            </div>
        </section>
    </main>
<!-- ------------------------------------------------------------------------------------- -->
    <footer>
        <div class="container">
            <section class="footer-hero">
                <div class="footer-hero-inner">
                    <div class="footer-inner-contact">
                        <div class="f_i_contact-div1">
                            <div class="f_i_contact-telephone">
                                <img src="./public/images/black_telephone.svg" alt="">
                            </div>
                            <div class="f_i_contact-number">
                                <h4>Call us</h4>
                                <p>+998 77 040 71 13</p>
                            </div>
                        </div>
                        <hr>
                        <div class="f_i_contact-div1">
                            <div class="f_i_contact-email">
                                <img src="./public/images/email.svg" alt="">
                            </div>
                            <div class="f_i_contact-email_adress">
                                <h4>Write to us</h4>
                                <p>yuldashevabduqodir429@gmail.com</p>
                            </div>
                        </div>
                        <hr>
                        <div class="f_i_contact-div1">
                            <div class="f_i_contact-adress">
                                <img src="./public/images/location.svg" alt="">
                            </div>
                            <div class="f_i_contact-adress-loc">
                                <h4>Adress</h4>
                                <p>Tashkent Chilonzor</p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="footer-navigation">
                        <div class="footer-navigation-about">
                            <h1><a href="#">RENT <span>CAR</span></a></h1>
                            <p>Rent a car imperdiet sapien porttito the <br>bibenum ellentesue the commodo erat nesuen.</p>
                            <div class="f-n-about-socials">
                                <div class="f-n-about-socials-facebook">
                                    <img src="./public/images/facebook.svg" alt="">
                                </div>
                                <div class="f-n-about-socials-facebook">
                                    <img src="./public/images/telegram.svg" alt="">
                                </div>
                                <div class="f-n-about-socials-facebook">
                                    <img src="./public/images/instagram.svg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="footer-navigation-links">
                            <h2>Quick Links</h2>
                            <ul>
                                <li>
                                    About
                                </li>
                                <li>
                                    Cars
                                </li>
                                <li>
                                    Car Types
                                </li>
                                <li>
                                    FAQ
                                </li>
                                <li>
                                    Contact
                                </li>
                            </ul>
                        </div>
                        <div class="footer-navigation-subscribe">
                            <h2>Subscribe</h2>
                            <p>Want to be notified about our services. Just sign <br>up and we'll send you a notification by email.</p>
                            <form action="#">
                                <div class="searchBox">
                                    <input type="email" name="" id="" placeholder="Your email adress">
                                    <button class="searchButton" ><img src="./public/images/tepa-strelka-qora.svg" alt=""></button>
                                </div>
                            </form>
                        </div> 
                    </div>
                    <div class="footer-bottom">
                        <hr>
                        <p>©2024 webRedox. All rights reserved.</p>
                    </div>
                </div>
            </section>
        </div>
    </footer>
</body>
<script src="/public/js/index.js"></script>
</html>